
<div class="container-fluid d-flex justify-content-center align-items-center margenT">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Abandonar sesión</h5>
            <p class="card-text">¿Estás seguro que deseas abandonar la sesión?</p>
            <a class="btn btn-secondary me-4" (click)="cancelar()">Cancelar</a>   
            <a class="btn btn-danger" (click)="volverAentrar()">Salir</a>
        </div>
            
    </div>
 </div>

