/* Estilo general del navbar */
.navbar {
    background-color: #023e73 !important;
    padding: 10px 15px;
}

/* Estilos para el logo */
.logo-navbar {
    width: 70px; /* Ajusta el tamaño del logo según lo desees */
    height: 70px; /* Ajusta el tamaño del logo según lo desees */
    border-radius: 50%; /* Esto hace que la imagen sea un círculo */
    object-fit: cover; /* Asegura que la imagen se recorte bien sin deformarse */
}


/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
    color: white !important;
    font-weight: 400;
}

/* Efecto hover */
.navbar-nav .nav-link:hover {
    color: #f8d210 !important;
}

/* Menú desplegable */
.dropdown-menu {
    background-color: #ffffff;
    border-radius: 8px;
}

/* Divider dentro del dropdown */
.dropdown-divider {
    margin: 5px 0;
}

/* Iconos con ancho fijo para alineación */
.fa-fw {
    width: 1em;
    font-size:x-large;
}
/* Estilo para el div contenedor */
.encabezado {
    border-bottom-left-radius: 15px;  /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 15px; /* Redondea la esquina inferior derecha */
}  

/* Efecto de hover para iluminar el ícono */
.nav-item a:hover .fa-power-off {
    color: red; /* Mantén el color rojo */
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red; /* Añadir el resplandor */
    transition: all 0.3s ease-in-out; /* Transición suave */
}
