<nav class="navbar navbar-expand-lg navbar-dark bg-primary encabezado">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/bienvenido']" [routerLinkActive]="'active'">
      <img src="../../assets/images/logo.png" alt="Logo" class="logo-navbar">
    </a>

    <!-- Botón de menú en móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto container-fluid">
        <!-- Configuración -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Configuración</a>
          <ul class="dropdown-menu">
            <li *ngIf="isAdmin()">
              <a class="dropdown-item" [routerLink]="['/users']">Usuarios</a>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" [routerLink]="['/marcas']">Marcas</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/ubicaciones']">Ubicaciones</a></li>
          </ul>
        </li>

        <!-- Activos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Activos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/ordenadores']">Ordenadores</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/perifericos']">Periféricos</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/dispositivos-red']">Dispositivos de Red</a></li>
          </ul>
        </li>

        <!-- Gestión de Material -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestión de Material</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/materialesCambioUbicacion']">Trasladar Material</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/salidas']">Listar Salidas</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/entradas']">Listar Entradas</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/mats-ubi']">Cambiar Material de Aula</a></li>
          </ul>
        </li>

        <!-- Gestión de Software -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestión de Software</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/software']">Softwares</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" [routerLink]="['/software-pc']">Instalar Software</a></li>
          </ul>
        </li>

        <!-- Gestión de Incidencias -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestión de Incidencias</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/incidencia', 0, 0]">Poner Incidencia</a></li>
            <li *ngIf="isAdmin() || isTecnico()">
              <hr class="dropdown-divider">
              <a class="dropdown-item" [routerLink]="['/incidencia']">Incidencias</a>
            </li>
          </ul>
        </li>

        <!-- Botón de Logout -->
        <li class="nav-item salir ms-auto">
          <a class="nav-link text-danger" [routerLink]="['/logout']">
            <i class="fa-solid fa-power-off fa-fw text-danger"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
