<div class="container-fluid d-flex align-items-center justify-content-center">


<div class="card mt-5" style="min-width:80rem;">
    <div class="card-body">
      <h5 class="card-title">Cambio de Ubicación</h5>
      <div class="row">
        <div class="col-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Ordenador</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Periférico</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Dispositivo de Red</label>
              </div> 
        </div>
        <div class="col-3">
            <select class="form-select
            " aria-label="Default select example">
                <option selected>Seleccion nueva ubicación</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      </div>
       
       <!-- insertar tabla va a tener un checkbox para que seleccione los que quiera-->
       <div class="col-12"></div>
         <!-- nueva ubicacion-->
    
   
      
      <button class="btn btn-primary" type="submit">Cambiar</button>
    </div>
  </div>
  
</div>