<div id="bienvenido" class="row d-flex justify-content-center align-items-center">
    <div id="bienv" class="col-10 text-center">
        <h1>Bienvenido a GII <p>Gestión de Invetarios e Incidencias</p></h1>
    </div>
    <div class="col-3">
        <img src="../../assets/images/almacen.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-3">
        <img src="../../assets/images/inventario.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-3">
        <img src="../../assets/images/software.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-3">
        <img src="../../assets/images/almacen.jpg" class="img-thumbnail" alt="...">
    </div>
</div>