<div
  class="container d-flex align-items-center justify-content-center contenedor-formulario"
>
  <div class="col-10 col-md-8 card text-center my-3">
    <div class="card-header titulos">Incidencias - {{ titulo }}</div>
    <div class="card-body">
      <h5 class="card-title">Introduce los datos de la incidencia</h5>
      <form
        #incidenciaForm="ngForm"
        class="mt-4 text-start d-flex flex-wrap gap-3 justify-content-center"
        (ngSubmit)="modificarEstado()"
        novalidate
      >

      <div class="col-12 col-md-5">
        <label for="id" class="form-label">Id Incidencia:</label>
        <input
        type="number"
        id="id"
        name="id"
        class="form-control"
        [(ngModel)]="id"
        (ngModelChange)="cambiado()"
        required
      />
      </div>
        <div class="col-12 col-md-5">
          <label for="idUbicacion" class="form-label">Estado:</label>
          <select
            id="estado"
            name="estado"
            class="form-control"
            [(ngModel)]="estado"
            (ngModelChange)="cambiado()"
            required
          >
            <option value="" disabled>Selecciona un estado</option>
            <option  value="pendiente">Pendiente </option>
            <option  value="en trámite">En trámite </option>
            <option  value="resuelto">Resuelto</option>
            <option  value="cerrada" *ngIf=" isAdmin()" >Cerrada</option>

          </select>
        </div>

        <div class="col-12 col-md-10">
          <label for="comentarioTecnico" class="form-label">Comentario Técnico</label>
          <textarea name="comentarioTecnico"
          id="comentarioTecnico"
          class="form-control" 
          [(ngModel)]="comentarioTecnico" 
          (ngModelChange)="cambiado()"></textarea>
        </div>



        <div class="col-12">
          <div class="my-3 text-center">
            <input
            type="submit"
            class="btn btn-primary btn-lg me-3"
            value="{{ txtBtn }}"
          />
            <button
              name="cancelar"
              class="btn btn-secondary btn-lg me-3"
              [routerLink]="['/incidencia']"
              (click)="cancelar($event)"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

