<div class="container d-flex align-items-center justify-content-center contenedor-formulario">
    <div class="col-10 col-md-8 card text-center my-3">
        <div class="card-header titulos">Ordenadores - {{ titulo }}</div>
        <div class="card-body">
            <h5 class="card-title">Introduce los datos del ordenador</h5>
            <form #ordenadorForm="ngForm" class="mt-4 text-start" (ngSubmit)="guardaOrdenador()" novalidate>
                <div class="row mb-3">
                    <div class="col-12 col-md-8">
                        <label for="nombre" class="formlabel">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" 
                        [(ngModel)]="ordenadorAct.nombre" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                         required />
                    </div>
                    <div class="col-12 mt-2 col-md-4 mt-md-0">
                        <label for="numero" class="form-label">Numero</label>
                        <input type="text" id="numero" name="numero" class="form-control"
                         [(ngModel)]="ordenadorAct.numero"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" id="tipo" name="tipo" class="form-control"
                         [(ngModel)]="ordenadorAct.tipo"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" id="modelo" name="modelo" class="form-control"
                         [(ngModel)]="ordenadorAct.modelo"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="numeroSerie" class="form-label">Nº de serie</label>
                        <input type="text" id="numeroSerie" name="numeroSerie" class="form-control"
                         [(ngModel)]="ordenadorAct.numeroSerie"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="Red" class="form-label">Red</label>
                        <input type="text" id="Red" name="Red" class="form-control" 
                        [(ngModel)]="ordenadorAct.Red" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                         required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="MACLAN" class="form-label">MAC LAN</label>
                        <input type="text" id="MACLAN" name="MACLAN" class="form-control"
                        [(ngModel)]="ordenadorAct.MACLAN"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="MACWIFI" class="form-label">MAC WIFI</label>
                        <input type="text" id="MACWIFI" name="MACWIFI" class="form-control"
                         [(ngModel)]="ordenadorAct.MACWIFI"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="IPWIFI" class="form-label">IP WIFI</label>
                        <input type="text" id="IPWIFI" name="IPWIFI" class="form-control"
                         [(ngModel)]="ordenadorAct.IPWIFI"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="IPLAN" class="form-label">IP LAN</label>
                        <input type="text" id="IPLAN" name="IPLAN" class="form-control" 
                        [(ngModel)]="ordenadorAct.IPLAN" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                        required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="HD1" class="form-label">HD 1</label>
                        <input type="text" id="HD1" name="HD1" class="form-control"
                        [(ngModel)]="ordenadorAct.HD1"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="hd2" class="form-label">HD 2</label>
                        <input type="text" id="hd2" name="hd2" class="form-control"
                         [(ngModel)]="ordenadorAct.HD2"
                        [readonly]="tipo == 2" (ngModelChange)="cambiado()"  required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="Observaciones" class="form-label">Observaciones</label>
                        <textarea id="Observaciones" name="Observaciones" class="form-control" 
                        [(ngModel)]="ordenadorAct.Observaciones" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                        required></textarea>
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="idMarca" class="form-label">ID marca</label>
                        <textarea id="idMarca" name="idMarca" class="form-control" 
                        [(ngModel)]="ordenadorAct.idMarca" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                        required></textarea>
                    </div>
                </div> -->
                <div class="col-12 mt-2 col-md-6 mt-md-0">
                    <label for="idMarca" class="form-label">Marca:</label>
                    <select 
                      id="idMarca" 
                      name="idMarca" 
                      class="form-control" 
                      [(ngModel)]="ordenadorAct.idMarca"
                      (ngModelChange)="cambiado()" 
                      required 
                      [disabled]="tipo == 2">
                      <option value="" disabled>Selecciona una marca</option>
                      <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
                    </select>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="idUbicacion" class="form-label">ID Ubicacion</label>
                        <textarea id="idUbicacion" name="idUbicacion" class="form-control" 
                        [(ngModel)]="ordenadorAct.idUbicacion" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                        required></textarea>
                    </div>
                </div> -->
                <div class="col-12 mt-2 col-md-6 mt-md-0">
                    <label for="idUbicacion" class="form-label">Ubicacion:</label>
                    <select 
                      id="idUbicacion" 
                      name="idUbicacion" 
                      class="form-control" 
                      [(ngModel)]="ordenadorAct.idUbicacion" 
                      (ngModelChange)="cambiado()" 
                      required 
                      [disabled]="tipo == 2">
                      <option value="" disabled>Selecciona una ubicacion</option>
                      <option *ngFor="let ubi of ubis" [value]="ubi.id">{{ ubi.nombre }}</option>
                    </select>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="precio" class="form-label">Precio</label>
                        <input id="precio" name="precio" class="form-control" 
                        [(ngModel)]="ordenadorAct.precio" [readonly]="tipo == 2" (ngModelChange)="cambiado()"
                        required>
                    </div>
                </div>
                <div class="my-3 text-center">
                    <input type="submit" class="btn btn-dark btn-lg" value="{{ txtBtn }}">
                    <button name="cancelar" class="btn btn-secondary btn-lg me-3"
                        [routerLink]="['/ordenadores']">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>